@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

/*header*/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 40px;
  gap: 8px 15px;
  justify-content: space-between;
  padding: 15px 230px;
}
.logoMestre {
  width: 270px;
}
.groupButtonHeader {
  display: flex;
  gap: 10px;
}
.btnHeader {
  background-color: transparent;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  background-color: #dd3333;
  color: white;
}
.btnHeader:hover {
  border-bottom: 2px solid black;
}
/*fim header*/

/*navbar*/
.navbar {
  display: flex;
  gap: 10px;
  padding: 10px 230px;
  background-color: #005291;
  width: 100%;
}
.buttonNavbar {
  padding: 6px;
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  transition: 0.4s;
  cursor: pointer;
}
.buttonNavbar:hover {
  border-bottom: 1px solid white;
}
/*fim navbar*/

/*main content*/
.container {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #f3f5f6;
}
.gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  flex: 1 0 auto;
  padding: 0px 230px;
  gap: 30px;
  margin-bottom: 30px;
}
.mainContentTeamsImg {
  width: 80px;
}
.logoTelegram {
  width: 60px;
}
.mainContentTitle {
  margin-top: 25px;
  background-color: #dd3333;
  color: white;
  padding: 6px;
  border-radius: 5px;
  text-align: center;
}
.mainContentCardGames {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.cardTeams {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.mainContent {
  min-width: 300px;
  grid-area: mainContent;
}
.descriptionTitle {
  text-align: center;
  font-size: 20px;
}
.mainContentDescription {
  padding: 15px 10px;
  font-size: 16px;
  text-align: justify;
}
.categoryDescription {
  background-color: white;
  border-radius: 5px;
}
.date {
  text-align: center;
  padding-bottom: 20px;
}
.readMore {
  color: #dd3333;
  text-decoration: none;
}
/* fim main content*/

/*sidebar content*/
.sidebarContent {
  color: white;
  margin-top: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: sidebarContent;
}
.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarTitle {
  font-size: 15px;
  font-weight: bolder;
}
.paragraphDescription {
  text-align: justify;
}
.paragraphDescription2 {
  text-align: center;
  padding: 10px 0px;
}
.btnVip {
  color: white;
  text-decoration: none;
  background-color: #dd3333;
  text-align: center;
  margin-top: 20px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bolder;
}
.sidebarVip {
  display: flex;
  flex-direction: column;
  background-color: #005291;
  border-radius: 10px;
  font-weight: bolder;
  padding: 15px;
}
/*fim sidebar content*/

/*card betting*/
.cardBetting {
  background-color: #005291;
  padding: 10px;
  border-radius: 5px;
  min-height: 180px;
}
/*fim card betting*/

/*media query*/
@media (max-width: 1000px) {
  .gridContainer {
    padding: 0px 100px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 890px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 790px) {
  .gridContainer {
    padding: 0px 50px;
  }
  .header {
    padding: 10px 0px;
  }
  .navbar {
    padding: 10px 0px;
  }
  .topicsTitle {
    font-size: 14px;
  }
}
@media (max-width: 730px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "mainContent sidebarContent";
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 460px) {
  .gridContainer {
    padding: 0px 6px;
  }
}
@media (max-width: 441px) {
  .mainContentTitle {
    font-size: 15px;
  }
  .btnHeader {
    font-size: 13px;
    padding: 5px;
  }
}

/*fim media query*/
